* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.day-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #000;
}

.night-theme {
  --background-color: #222222;
  --text-color: #ffffff;
  --link-color: #fff; 
}

body {
  background-color: var(--background-color)!important;
  color: var(--text-color)!important;
}

a {
  color: var(--link-color)!important; 
}

ul {
      background-color: var(--background-color)!important;
      color: var(--link-color);
}

.navbar-toggler {
  background-color: var(--background-color)!important;
  color: var(--link-color)!important;
}

.bi.bi-brightness-low-fill {
  background-color: var(--background-color)!important;
  color: var(--link-color)!important;
}

.card.m-3.mx-auto {
  background-color: var(--background-color)!important;
  color: var(--link-color)!important;
}

.col-md-4.mb-0.text-body-secondary {
  color: var(--link-color)!important;
}

.nav-link.px-2.text-body-secondary {
  color: var(--link-color)!important;
}